.Home> .Assessment {
    /* border-style: solid; */
    background-color: white;
    height: 801px;

}
.Home> .Assessment {
    /* display: flex; */
    justify-content: center;
}

.Home> .Assessment  > .Content{
    width: 1300px;
    display: flex;
    margin: auto;

}
.Home> .Assessment  > .Content>.Left{
    align-content: left;
    width: 50%;
    min-width: 128px;
    max-height: 909px;
}
.Home> .Assessment >.Content> .Left>ul{
    font-size: 26px;
}

.Home> .Assessment  > .Content>.Right{
    align-content: right;
    width: 50%;
    min-width: 128px;
    text-align: right;
}

.Home> .Donate {
    height: 360px;
    display: block;
    background-color: rgba(244,81, 30, .07);
    justify-content: center;
    /* padding: 50px; */
}

.Home> .Donate >.Content{
    /* text-align: center; */
    min-width: 854px;
}

.Home> .Donate >.Content>.OrangeButton{
    margin: 50px;
}
/* 
.Home> .Donate >.Content{
    margin: auto;
} */

.Home>.Invest {
    display: flex;
    justify-content: center;
    /* padding: 50px; */
    height: 954px;
    background-color: #F2F2F1;
    text-align: left;
}

.Home>.Invest>.Content{
    width: 1300px;
    min-width: 1300px;
}
.Home>.Invest >.Content>.Left{
    width: 50%;
}
.Home>.Invest >.Content>.Right{
    width: 50%;
    
}

.Home>.Video {
    background-color: rgba(244,81, 30, .07);
    display: flex;
    text-align: left;
    min-height: 596px;
}

.Home>.Video >.Quote  >.Text{
    font-size: 21px;
}

.Home>.Video >.Quote >.Profile{
    width: 20%;
    display: flex;
    margin: 0;
}

.Home>.Video >.Quote >.Profile>.Image{
    margin-right: 10px;
}

.Home>.Video >.Quote >.Profile>.Person>p{
    font-size: 16px;
    margin: 0px;
    min-width: 183px;
}