.Home> .Assessment-Container{
    border-style: solid;
    background-color: white;
    height: 801px;
}
.Home> .Assessment-Container{
    display: block;
    text-align: left;
}

.Home> .Assessment-Container > .Content{
    width: 1297px;
}
.Home> .Assessment-Container > .Content>.Left{
    align-content: left;
    width: 50%;
    min-width: 128px;
}
.Home> .Assessment-Container>.Content> .Left>ul{
    font-size: 26px;
}

.Home> .Assessment-Container > .Content>.Right{
    align-content: right;
    width: 50%;
    min-width: 128px;
}

.Home> .Donate-Container{
    height: 360px;
    display: block;
    background-color: rgba(244,81, 30, .07);
    justify-content: center;
    /* padding: 50px; */
}

.Home> .Donate-Container>.Content{
    /* text-align: center; */
    /* width: 60%; */
}

.Home> .Donate-Container>.Content>.OrangeButton{
    margin: 50px;
}
/* 
.Home> .Donate-Container>.Content{
    margin: auto;
} */

.Home>.Invest-Container{
    display: flex;
    justify-content: center;
    /* padding: 50px; */
    height: 954px;
    background-color: #F2F2F1;
    text-align: left;
}

.Home>.Invest-Container>.Content>.Left{
    width: 50%;
}
.Home>.Invest-Container>.Content>.Right{
    width: 50%;
    
}

.Home>.Quote-Container{
    background-color: rgba(244,81, 30, .07);
    display: flex;
    text-align: left;
}

.Home>.Quote-Container>.Quote-Content>.Quote{
    width: 50%;
}

.Home>.Quote-Container>.Quote-Content>.Quote{
    width: 50%;
}

.Home>.Quote-Container>.Quote-Content>.Profile{
    width: 20%;
}