.Form{
    /* border-style:solid; */
    display: block;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-color: gray;
    background-color: white;
    /* margin: auto; */
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 970px;
    max-width: 1130px;
    width: 80%;
}

.Form>.Content>.Title{
    color: #DE5741;  
}

input{
    background-color: #F9F9F9;
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    padding: 20px;
    width: 318px;
}

select{
    background-color: #F9F9F9;
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    padding: 20px;
    min-width: 318px;
}

.Email{
    width: 661px;
}

.Comments{
    width: 1004px;
    height: 151px;
}

.GridForm{
    width: 50%
}