
.Header{
    width: 100%;
    background-color: white;
    
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    text-align: center;
    max-height: 149px;
    
}

.Header>.Header  {
    padding: 20px;
    display: flex;
    flex-direction: right;
    /* background-color: red; */
}

.Header>.Header  >.Pages{
    /* display: inline-block; */
    /* background-color: pink; */
    text-decoration: none;
    margin: 0;
    width: 50%;

}
.Header>.Header  >Grid{
    /* display: inline-block; */
    /* background-color: pink; */
    text-decoration: none;
    margin: 0;
    min-width: 450px;

}
.Header>.Header  >.Left{
    /* background-color: red; */
    width: 25%;
    text-align: center;
}

.Header>.Header  >.Pages>li{
    /* background-color: yellow; */
    display: inline-block;
    /* margin-right: 100px; */

}

.Header>.Header  >.Right{
    width: 25%;
    text-align: center;
    /* background-color: blue; */
    display: inline-block;
}

.Header>.Header  >.Right>.OrangeButton{
    display: inline;
}