
.Header{
    width: 100%;
    background-color: white;
    border-style: solid;
    border-color: gray;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.Header>.Header-Content{
    padding: 20px;
    display: flex;
    flex-direction: right;
    /* background-color: red; */
}

.Header>.Header-Content>.Pages{
    /* display: inline-block; */
    /* background-color: pink; */
    text-decoration: none;
    margin: 0;
    width: 50%;

}
.Header>.Header-Content>.Left{
    /* background-color: red; */
    width: 25%;
    text-align: center;
}

.Header>.Header-Content>.Pages>li{
    /* background-color: yellow; */
    display: inline-block;
    margin-right: 100px;
}

.Header>.Header-Content>.Right{
    width: 25%;
    text-align: center;
    /* background-color: blue; */
    display: inline-block;
}

.Header>.Header-Content>.Right>.OrangeButton{
    display: inline;
}