.App {
  text-align: center;
  font-size: 26px;
}

h1{
  font-size: 40px;
  margin: 0;
}

p{
  font-size: 18px;
}

ul{
  list-style-type: none;
  font-size: 26px;
}

Link{
  text-decoration: none;
}

.Content{
  display: block;
  /* padding: 50px; */
  /* background-color: pink; */
  justify-content: space-evenly;
  margin: 50px;
}

.Container{
  padding: 50px;
}

.Left{
  text-align: left;
}

.Right{
  text-align: left;
}