.App {
  text-align: center;
}

h1{
  font-size: 40px;
  margin: 0;
}

p{
  font-size: 18px;
}

ul{
  list-style-type: none;

}

.Content{
  display: block;
  padding: 50px;
  justify-content: space-evenly;
}