.App {
  text-align: center;
  font-size: 26px;
}

h1{
  font-size: 40px;
  margin: 0;
}

p{
  font-size: 18px;
}

ul{
  list-style-type: none;
  font-size: 26px;
}
li{
  list-style-image: url('Assets/Checkmark.svg');
  vertical-align: center;

}

Link{
  text-decoration: none;
}

.Content{
  display: block;
  /* padding: 50px; */
  /* background-color: pink; */
  justify-content: space-evenly;
  margin: 50px;
}

.Container{
  padding: 50px;
}

.Left{
  text-align: left;
}

.Right{
  text-align: left;
}

.Name{
  font-weight: bold;
  color: #F4511E;
}

.Top{
  display: flex;
  background-image: url("./Assets/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.png");
  min-height: 650px;
  min-width: 1440px;
  padding: auto;
}

.Top>.Container{
  
  color: white;
  vertical-align: center;
  height: 50%;
  margin: auto;
}

.Image{
  color: white;
}